/* .bikeshop-page {
  color: #f30c0c; }

.bikeshop-card .shop-image {
  width: 40vh;
  height: 30vh; }

.bikeshop-card li {
  list-style: none; }

.bikeshop-card {
  width: 45vh;
  height: auto; }

.bikeshop-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }

.bikeshop-card p {
  color: #c6538c; } */

/*# sourceMappingURL=styles.css.map */
