$primary-color: rgb(233, 22, 22);
$a-tags: 'a, a:active, a:hover, a:visited';

// .bikeshop-page ul{
//     color: $primary-color;
// }
.bikeshop-card .shop-image {
    width: 110%;
    height: 35vh;
    margin: -15px;
}
.bikeshop-card li {
    list-style: none;
}
.bikeshop-card {
    width: 45vh;
    height: auto;
	box-shadow: 0 7px 8px -4px black;
}
ul.bikeshop-page{
    display: grid;
	grid-template-columns: 1fr 1fr 1fr; 
	margin-bottom: 10vh;
	ul{
    color: $primary-color;
}
}
.loading {
	opacity: 0;
	display: flex;
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
    transform: rotate(90deg);
    transition: opacity .3s ease-in;
}

.loading.show {
    opacity: 1;
}

.ball {
	background-color: rgb(249, 6, 6);
	border-radius: 50%;
	margin: 5px;
	height: 10px;
	width: 10px;
	animation: jump .5s ease-in infinite;
}

.ball:nth-of-type(2) {
	animation-delay: 0.1s;
}

.ball:nth-of-type(3) {
	animation-delay: 0.2s;
}

@keyframes jump {
	0%, 100% {
		transform: translateY(0);
	}
	
	50% {
		transform: translateY(-10px);
	}
}
