doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Bike Shops
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    style
      include ../styles.scss
  body
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js') 
    script
      include main.js
    header.bg-dark
      img.m-3(width='15%', src='https://www.bikelord.co/BikeLord_Logo_03_Small.png')
    .bg-light.pt-1
      h1.text-center.font-weight-bold.text-uppercase bike prices

      //- NEED to create an object that holds all the specific attributes of the bike, then you need to try to do all of the comparisons without used if else statements. For example you could assignn the value to the bikes in the options (road bike has value of 1, etc). 
      //- MIGHT NEED TO KNOW bikePricingObject["year"] = $("#type-year").val() (can't remember if it's .val or .value...)
      //- bikePricingObject = {
      //-   year:"",
      //-   condition:"",
      //-   msrp:""
      //-   ETC...
      //- }
      .type-year
        label(for='year') Year:
        select#type-year
          

      .type-make
        label(for='name') Make:
        select#type-make
          option --Select--
          option(value=1) Trek
          option(value=1) Specialized
          option(value=1) Cannondale
          option(value=1) Giant
          option(value=2) Felt
          option(value=2) Scott
          option(value=3) Others
          
      .type-model
        label(for='name') Model:
        select#type-model
          option --Select--
          option(value=1) Road Bike
          option(value=2) Tri Bike
          option(value=3) Mountain Bike
          option(value=3.5) Other

      //- apply this to all of the different attribute of the bike. Set it up in a way that you'll be able to grab all of those. Here you aren't able to easily grab them - 

      .type-condition
        label(for='condition') Frame Condition:
        select#frame-condition
          option --Select--
          option(value=1) Like New
          option(value=2) Good
          option(value=3) Fair
          option(value=4) Poor

          //- have to be able to turn off the others. 
      .component-condition
        label(for='condition') Component Condition:
        select#component-condition
          option --Select--
          option(value=1) Like New
          option(value=2) Good
          option(value=3) Fair
          option(value=4) Poor


      .type-frame
        label(for='frame') Frame Material:
        select#type-frame
          option --Select--
          option(value=1) Titanium
          option(value=2) Steel
          option(value=2.5) Aluminum
          option(value=2.5) Carbon

      .msrp    
        label(for='msrp') Original MSRP:
        input(type="number" name='msrp' id='msrp') 

      button#button(onclick='submit()') Submit

      h3 Total : <label id=total></label> 
      p Max Resale Value: $<label id="resale-value"></label> 
      p Trade In Value: $<label id="trade-in-value"></label> 
      p Expected Resale Value: $<label id="expected-resale-value"></label> 






